/*
Symbiotic RFQ Backend Internal API

Internal RFQ backend API: discount listing and resolution.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rfqbackendinternal

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RFQAPIService RFQAPI service
type RFQAPIService service

type ApiApiInternalV1DiscountsGetRequest struct {
	ctx            context.Context
	ApiService     *RFQAPIService
	discountId     *string
	discountIds    *string
	adapter        *string
	tokenToRedeem  *string
	adapters       *string
	tokensToRedeem *string
}

func (r ApiApiInternalV1DiscountsGetRequest) DiscountId(discountId string) ApiApiInternalV1DiscountsGetRequest {
	r.discountId = &discountId
	return r
}

func (r ApiApiInternalV1DiscountsGetRequest) DiscountIds(discountIds string) ApiApiInternalV1DiscountsGetRequest {
	r.discountIds = &discountIds
	return r
}

func (r ApiApiInternalV1DiscountsGetRequest) Adapter(adapter string) ApiApiInternalV1DiscountsGetRequest {
	r.adapter = &adapter
	return r
}

func (r ApiApiInternalV1DiscountsGetRequest) TokenToRedeem(tokenToRedeem string) ApiApiInternalV1DiscountsGetRequest {
	r.tokenToRedeem = &tokenToRedeem
	return r
}

func (r ApiApiInternalV1DiscountsGetRequest) Adapters(adapters string) ApiApiInternalV1DiscountsGetRequest {
	r.adapters = &adapters
	return r
}

func (r ApiApiInternalV1DiscountsGetRequest) TokensToRedeem(tokensToRedeem string) ApiApiInternalV1DiscountsGetRequest {
	r.tokensToRedeem = &tokensToRedeem
	return r
}

func (r ApiApiInternalV1DiscountsGetRequest) Execute() (*DiscountsResponse, *http.Response, error) {
	return r.ApiService.ApiInternalV1DiscountsGetExecute(r)
}

/*
ApiInternalV1DiscountsGet Method for ApiInternalV1DiscountsGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiInternalV1DiscountsGetRequest
*/
func (a *RFQAPIService) ApiInternalV1DiscountsGet(ctx context.Context) ApiApiInternalV1DiscountsGetRequest {
	return ApiApiInternalV1DiscountsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiscountsResponse
func (a *RFQAPIService) ApiInternalV1DiscountsGetExecute(r ApiApiInternalV1DiscountsGetRequest) (*DiscountsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiscountsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiInternalV1DiscountsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api-internal/v1/discounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.discountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "discountId", r.discountId, "form", "")
	}
	if r.discountIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "discountIds", r.discountIds, "form", "")
	}
	if r.adapter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adapter", r.adapter, "form", "")
	}
	if r.tokenToRedeem != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokenToRedeem", r.tokenToRedeem, "form", "")
	}
	if r.adapters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adapters", r.adapters, "form", "")
	}
	if r.tokensToRedeem != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokensToRedeem", r.tokensToRedeem, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiInternalV1DiscountsPostRequest struct {
	ctx                    context.Context
	ApiService             *RFQAPIService
	resolveDiscountRequest *ResolveDiscountRequest
}

func (r ApiApiInternalV1DiscountsPostRequest) ResolveDiscountRequest(resolveDiscountRequest ResolveDiscountRequest) ApiApiInternalV1DiscountsPostRequest {
	r.resolveDiscountRequest = &resolveDiscountRequest
	return r
}

func (r ApiApiInternalV1DiscountsPostRequest) Execute() (*ResolveDiscountResponse, *http.Response, error) {
	return r.ApiService.ApiInternalV1DiscountsPostExecute(r)
}

/*
ApiInternalV1DiscountsPost Method for ApiInternalV1DiscountsPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiInternalV1DiscountsPostRequest
*/
func (a *RFQAPIService) ApiInternalV1DiscountsPost(ctx context.Context) ApiApiInternalV1DiscountsPostRequest {
	return ApiApiInternalV1DiscountsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResolveDiscountResponse
func (a *RFQAPIService) ApiInternalV1DiscountsPostExecute(r ApiApiInternalV1DiscountsPostRequest) (*ResolveDiscountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResolveDiscountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiInternalV1DiscountsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api-internal/v1/discounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resolveDiscountRequest == nil {
		return localVarReturnValue, nil, reportError("resolveDiscountRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resolveDiscountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
