/*
Symbiotic RFQ Backend API

Public RFQ backend API for approval checks, quote creation, order submission, and order polling.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rfqbackend

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RFQAPIService RFQAPI service
type RFQAPIService service

type ApiApiV1CheckApprovalPostRequest struct {
	ctx                  context.Context
	ApiService           *RFQAPIService
	approvalCheckRequest *ApprovalCheckRequest
}

func (r ApiApiV1CheckApprovalPostRequest) ApprovalCheckRequest(approvalCheckRequest ApprovalCheckRequest) ApiApiV1CheckApprovalPostRequest {
	r.approvalCheckRequest = &approvalCheckRequest
	return r
}

func (r ApiApiV1CheckApprovalPostRequest) Execute() (*ApprovalCheckResponse, *http.Response, error) {
	return r.ApiService.ApiV1CheckApprovalPostExecute(r)
}

/*
ApiV1CheckApprovalPost Check Reactor approval

Returns an ERC-20 approval payload when Reactor allowance is insufficient.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1CheckApprovalPostRequest
*/
func (a *RFQAPIService) ApiV1CheckApprovalPost(ctx context.Context) ApiApiV1CheckApprovalPostRequest {
	return ApiApiV1CheckApprovalPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ApprovalCheckResponse
func (a *RFQAPIService) ApiV1CheckApprovalPostExecute(r ApiApiV1CheckApprovalPostRequest) (*ApprovalCheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ApprovalCheckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1CheckApprovalPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/check_approval"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.approvalCheckRequest == nil {
		return localVarReturnValue, nil, reportError("approvalCheckRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.approvalCheckRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1DiscountPostRequest struct {
	ctx                    context.Context
	ApiService             *RFQAPIService
	publishDiscountRequest *PublishDiscountRequest
}

func (r ApiApiV1DiscountPostRequest) PublishDiscountRequest(publishDiscountRequest PublishDiscountRequest) ApiApiV1DiscountPostRequest {
	r.publishDiscountRequest = &publishDiscountRequest
	return r
}

func (r ApiApiV1DiscountPostRequest) Execute() (*PublishDiscountResponse, *http.Response, error) {
	return r.ApiService.ApiV1DiscountPostExecute(r)
}

/*
ApiV1DiscountPost Publish a live discount

Validates a reusable discount signature and stores it as the live row for an adapter/token pair.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1DiscountPostRequest
*/
func (a *RFQAPIService) ApiV1DiscountPost(ctx context.Context) ApiApiV1DiscountPostRequest {
	return ApiApiV1DiscountPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PublishDiscountResponse
func (a *RFQAPIService) ApiV1DiscountPostExecute(r ApiApiV1DiscountPostRequest) (*PublishDiscountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PublishDiscountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1DiscountPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/discount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.publishDiscountRequest == nil {
		return localVarReturnValue, nil, reportError("publishDiscountRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.publishDiscountRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1DiscountsGetRequest struct {
	ctx            context.Context
	ApiService     *RFQAPIService
	discountId     *string
	discountIds    *string
	adapter        *string
	tokenToRedeem  *string
	adapters       *string
	tokensToRedeem *string
}

func (r ApiApiV1DiscountsGetRequest) DiscountId(discountId string) ApiApiV1DiscountsGetRequest {
	r.discountId = &discountId
	return r
}

func (r ApiApiV1DiscountsGetRequest) DiscountIds(discountIds string) ApiApiV1DiscountsGetRequest {
	r.discountIds = &discountIds
	return r
}

func (r ApiApiV1DiscountsGetRequest) Adapter(adapter string) ApiApiV1DiscountsGetRequest {
	r.adapter = &adapter
	return r
}

func (r ApiApiV1DiscountsGetRequest) TokenToRedeem(tokenToRedeem string) ApiApiV1DiscountsGetRequest {
	r.tokenToRedeem = &tokenToRedeem
	return r
}

func (r ApiApiV1DiscountsGetRequest) Adapters(adapters string) ApiApiV1DiscountsGetRequest {
	r.adapters = &adapters
	return r
}

func (r ApiApiV1DiscountsGetRequest) TokensToRedeem(tokensToRedeem string) ApiApiV1DiscountsGetRequest {
	r.tokensToRedeem = &tokensToRedeem
	return r
}

func (r ApiApiV1DiscountsGetRequest) Execute() (*DiscountsResponse, *http.Response, error) {
	return r.ApiService.ApiV1DiscountsGetExecute(r)
}

/*
ApiV1DiscountsGet List live discounts

Returns currently live discount-backed inventory for adapter/token pairs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1DiscountsGetRequest
*/
func (a *RFQAPIService) ApiV1DiscountsGet(ctx context.Context) ApiApiV1DiscountsGetRequest {
	return ApiApiV1DiscountsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiscountsResponse
func (a *RFQAPIService) ApiV1DiscountsGetExecute(r ApiApiV1DiscountsGetRequest) (*DiscountsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DiscountsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1DiscountsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/discounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.discountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "discountId", r.discountId, "form", "")
	}
	if r.discountIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "discountIds", r.discountIds, "form", "")
	}
	if r.adapter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adapter", r.adapter, "form", "")
	}
	if r.tokenToRedeem != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokenToRedeem", r.tokenToRedeem, "form", "")
	}
	if r.adapters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adapters", r.adapters, "form", "")
	}
	if r.tokensToRedeem != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokensToRedeem", r.tokensToRedeem, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1DiscountsPostRequest struct {
	ctx                       context.Context
	ApiService                *RFQAPIService
	apiV1DiscountsPostRequest *ApiV1DiscountsPostRequest
}

func (r ApiApiV1DiscountsPostRequest) ApiV1DiscountsPostRequest(apiV1DiscountsPostRequest ApiV1DiscountsPostRequest) ApiApiV1DiscountsPostRequest {
	r.apiV1DiscountsPostRequest = &apiV1DiscountsPostRequest
	return r
}

func (r ApiApiV1DiscountsPostRequest) Execute() (*ResolveDiscountResponse, *http.Response, error) {
	return r.ApiService.ApiV1DiscountsPostExecute(r)
}

/*
ApiV1DiscountsPost Resolve a live discount

Returns the stored discount plus a fresh short-lived protocol signature.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1DiscountsPostRequest
*/
func (a *RFQAPIService) ApiV1DiscountsPost(ctx context.Context) ApiApiV1DiscountsPostRequest {
	return ApiApiV1DiscountsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ResolveDiscountResponse
func (a *RFQAPIService) ApiV1DiscountsPostExecute(r ApiApiV1DiscountsPostRequest) (*ResolveDiscountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResolveDiscountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1DiscountsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/discounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiV1DiscountsPostRequest == nil {
		return localVarReturnValue, nil, reportError("apiV1DiscountsPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiV1DiscountsPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1LiquidityPostRequest struct {
	ctx              context.Context
	ApiService       *RFQAPIService
	liquidityRequest *LiquidityRequest
}

func (r ApiApiV1LiquidityPostRequest) LiquidityRequest(liquidityRequest LiquidityRequest) ApiApiV1LiquidityPostRequest {
	r.liquidityRequest = &liquidityRequest
	return r
}

func (r ApiApiV1LiquidityPostRequest) Execute() (*LiquidityResponse, *http.Response, error) {
	return r.ApiService.ApiV1LiquidityPostExecute(r)
}

/*
ApiV1LiquidityPost Check available liquidity

Requests best solver quotes for configured input amounts and reports oracle-relative price impact when a Midas oracle is configured.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1LiquidityPostRequest
*/
func (a *RFQAPIService) ApiV1LiquidityPost(ctx context.Context) ApiApiV1LiquidityPostRequest {
	return ApiApiV1LiquidityPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LiquidityResponse
func (a *RFQAPIService) ApiV1LiquidityPostExecute(r ApiApiV1LiquidityPostRequest) (*LiquidityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LiquidityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1LiquidityPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/liquidity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.liquidityRequest == nil {
		return localVarReturnValue, nil, reportError("liquidityRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.liquidityRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1OrderPostRequest struct {
	ctx                context.Context
	ApiService         *RFQAPIService
	createOrderRequest *CreateOrderRequest
}

func (r ApiApiV1OrderPostRequest) CreateOrderRequest(createOrderRequest CreateOrderRequest) ApiApiV1OrderPostRequest {
	r.createOrderRequest = &createOrderRequest
	return r
}

func (r ApiApiV1OrderPostRequest) Execute() (*CreateOrderResponse, *http.Response, error) {
	return r.ApiService.ApiV1OrderPostExecute(r)
}

/*
ApiV1OrderPost Create an order

Submits a signed quote and creates an RFQ order.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1OrderPostRequest
*/
func (a *RFQAPIService) ApiV1OrderPost(ctx context.Context) ApiApiV1OrderPostRequest {
	return ApiApiV1OrderPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateOrderResponse
func (a *RFQAPIService) ApiV1OrderPostExecute(r ApiApiV1OrderPostRequest) (*CreateOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1OrderPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/order"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOrderRequest == nil {
		return localVarReturnValue, nil, reportError("createOrderRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrderRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1OrdersGetRequest struct {
	ctx         context.Context
	ApiService  *RFQAPIService
	orderType   *string
	limit       *int32
	cursor      *string
	orderStatus *string
	orderId     *string
	orderIds    *string
	orderHash   *string
	orderHashes *string
	swapper     *string
	filler      *string
	sortKey     *string
	sort        *string
}

func (r ApiApiV1OrdersGetRequest) OrderType(orderType string) ApiApiV1OrdersGetRequest {
	r.orderType = &orderType
	return r
}

func (r ApiApiV1OrdersGetRequest) Limit(limit int32) ApiApiV1OrdersGetRequest {
	r.limit = &limit
	return r
}

func (r ApiApiV1OrdersGetRequest) Cursor(cursor string) ApiApiV1OrdersGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiApiV1OrdersGetRequest) OrderStatus(orderStatus string) ApiApiV1OrdersGetRequest {
	r.orderStatus = &orderStatus
	return r
}

func (r ApiApiV1OrdersGetRequest) OrderId(orderId string) ApiApiV1OrdersGetRequest {
	r.orderId = &orderId
	return r
}

func (r ApiApiV1OrdersGetRequest) OrderIds(orderIds string) ApiApiV1OrdersGetRequest {
	r.orderIds = &orderIds
	return r
}

func (r ApiApiV1OrdersGetRequest) OrderHash(orderHash string) ApiApiV1OrdersGetRequest {
	r.orderHash = &orderHash
	return r
}

func (r ApiApiV1OrdersGetRequest) OrderHashes(orderHashes string) ApiApiV1OrdersGetRequest {
	r.orderHashes = &orderHashes
	return r
}

func (r ApiApiV1OrdersGetRequest) Swapper(swapper string) ApiApiV1OrdersGetRequest {
	r.swapper = &swapper
	return r
}

func (r ApiApiV1OrdersGetRequest) Filler(filler string) ApiApiV1OrdersGetRequest {
	r.filler = &filler
	return r
}

func (r ApiApiV1OrdersGetRequest) SortKey(sortKey string) ApiApiV1OrdersGetRequest {
	r.sortKey = &sortKey
	return r
}

func (r ApiApiV1OrdersGetRequest) Sort(sort string) ApiApiV1OrdersGetRequest {
	r.sort = &sort
	return r
}

func (r ApiApiV1OrdersGetRequest) Execute() (*OrdersResponse, *http.Response, error) {
	return r.ApiService.ApiV1OrdersGetExecute(r)
}

/*
ApiV1OrdersGet List orders

Lists orders by supported filters such as orderId, status, swapper, or filler.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1OrdersGetRequest
*/
func (a *RFQAPIService) ApiV1OrdersGet(ctx context.Context) ApiApiV1OrdersGetRequest {
	return ApiApiV1OrdersGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrdersResponse
func (a *RFQAPIService) ApiV1OrdersGetExecute(r ApiApiV1OrdersGetRequest) (*OrdersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrdersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1OrdersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderType", r.orderType, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.orderStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderStatus", r.orderStatus, "form", "")
	}
	if r.orderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderId", r.orderId, "form", "")
	}
	if r.orderIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderIds", r.orderIds, "form", "")
	}
	if r.orderHash != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderHash", r.orderHash, "form", "")
	}
	if r.orderHashes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderHashes", r.orderHashes, "form", "")
	}
	if r.swapper != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "swapper", r.swapper, "form", "")
	}
	if r.filler != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filler", r.filler, "form", "")
	}
	if r.sortKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortKey", r.sortKey, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1QuotePostRequest struct {
	ctx          context.Context
	ApiService   *RFQAPIService
	quoteRequest *QuoteRequest
}

func (r ApiApiV1QuotePostRequest) QuoteRequest(quoteRequest QuoteRequest) ApiApiV1QuotePostRequest {
	r.quoteRequest = &quoteRequest
	return r
}

func (r ApiApiV1QuotePostRequest) Execute() (*PublicQuoteResponse, *http.Response, error) {
	return r.ApiService.ApiV1QuotePostExecute(r)
}

/*
ApiV1QuotePost Request a quote

Returns an indicative quote or 404 when no solver can quote.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiV1QuotePostRequest
*/
func (a *RFQAPIService) ApiV1QuotePost(ctx context.Context) ApiApiV1QuotePostRequest {
	return ApiApiV1QuotePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PublicQuoteResponse
func (a *RFQAPIService) ApiV1QuotePostExecute(r ApiApiV1QuotePostRequest) (*PublicQuoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PublicQuoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RFQAPIService.ApiV1QuotePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/quote"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quoteRequest == nil {
		return localVarReturnValue, nil, reportError("quoteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.quoteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
