/*
Lifi Intents API Reference

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.0.19
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package lifiorder

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// BridgeAPIAPIService BridgeAPIAPI service
type BridgeAPIAPIService service

type ApiChainsControllerGetSupportedChainsRequest struct {
	ctx        context.Context
	ApiService *BridgeAPIAPIService
}

func (r ApiChainsControllerGetSupportedChainsRequest) Execute() ([]SupportedChainDto, *http.Response, error) {
	return r.ApiService.ChainsControllerGetSupportedChainsExecute(r)
}

/*
ChainsControllerGetSupportedChains Get supported chains

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiChainsControllerGetSupportedChainsRequest
*/
func (a *BridgeAPIAPIService) ChainsControllerGetSupportedChains(ctx context.Context) ApiChainsControllerGetSupportedChainsRequest {
	return ApiChainsControllerGetSupportedChainsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SupportedChainDto
func (a *BridgeAPIAPIService) ChainsControllerGetSupportedChainsExecute(r ApiChainsControllerGetSupportedChainsRequest) ([]SupportedChainDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SupportedChainDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIAPIService.ChainsControllerGetSupportedChains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/chains/supported"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrdersControllerGetOrderStatusRequest struct {
	ctx             context.Context
	ApiService      *BridgeAPIAPIService
	onChainOrderId  *string
	catalystOrderId *string
}

// On chain order id propagated in the logs/events.
func (r ApiOrdersControllerGetOrderStatusRequest) OnChainOrderId(onChainOrderId string) ApiOrdersControllerGetOrderStatusRequest {
	r.onChainOrderId = &onChainOrderId
	return r
}

// Internal order id returned by Lifi Intents API
func (r ApiOrdersControllerGetOrderStatusRequest) CatalystOrderId(catalystOrderId string) ApiOrdersControllerGetOrderStatusRequest {
	r.catalystOrderId = &catalystOrderId
	return r
}

func (r ApiOrdersControllerGetOrderStatusRequest) Execute() (*SubmitOrderResponseDto, *http.Response, error) {
	return r.ApiService.OrdersControllerGetOrderStatusExecute(r)
}

/*
OrdersControllerGetOrderStatus Get order status

Get order status by on-chain-id or intent-id. At least one of the parameters is required.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrdersControllerGetOrderStatusRequest
*/
func (a *BridgeAPIAPIService) OrdersControllerGetOrderStatus(ctx context.Context) ApiOrdersControllerGetOrderStatusRequest {
	return ApiOrdersControllerGetOrderStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SubmitOrderResponseDto
func (a *BridgeAPIAPIService) OrdersControllerGetOrderStatusExecute(r ApiOrdersControllerGetOrderStatusRequest) (*SubmitOrderResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SubmitOrderResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIAPIService.OrdersControllerGetOrderStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orders/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.onChainOrderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onChainOrderId", r.onChainOrderId, "form", "")
	}
	if r.catalystOrderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "catalystOrderId", r.catalystOrderId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrdersControllerGetOrdersRequest struct {
	ctx                       context.Context
	ApiService                *BridgeAPIAPIService
	limit                     *int32
	offset                    *int32
	status                    *string
	nonce                     *string
	user                      *string
	settlementContractAddress *string
	catalystOrderId           *string
	onChainOrderId            *string
	exclusiveFor              *string
	originChainId             *string
	destinationChainId        *string
}

// Limit the number of results
func (r ApiOrdersControllerGetOrdersRequest) Limit(limit int32) ApiOrdersControllerGetOrdersRequest {
	r.limit = &limit
	return r
}

// Number of results to skip
func (r ApiOrdersControllerGetOrdersRequest) Offset(offset int32) ApiOrdersControllerGetOrdersRequest {
	r.offset = &offset
	return r
}

// Status of the order
func (r ApiOrdersControllerGetOrdersRequest) Status(status string) ApiOrdersControllerGetOrdersRequest {
	r.status = &status
	return r
}

// Nonce value for the order
func (r ApiOrdersControllerGetOrdersRequest) Nonce(nonce string) ApiOrdersControllerGetOrdersRequest {
	r.nonce = &nonce
	return r
}

// Address of the initiator of the order
func (r ApiOrdersControllerGetOrdersRequest) User(user string) ApiOrdersControllerGetOrdersRequest {
	r.user = &user
	return r
}

// Address of the destination settlement contract
func (r ApiOrdersControllerGetOrdersRequest) SettlementContractAddress(settlementContractAddress string) ApiOrdersControllerGetOrdersRequest {
	r.settlementContractAddress = &settlementContractAddress
	return r
}

// Internal order id returned by Lifi Intents API
func (r ApiOrdersControllerGetOrdersRequest) CatalystOrderId(catalystOrderId string) ApiOrdersControllerGetOrdersRequest {
	r.catalystOrderId = &catalystOrderId
	return r
}

// On chain order id propagated in the logs/events.
func (r ApiOrdersControllerGetOrdersRequest) OnChainOrderId(onChainOrderId string) ApiOrdersControllerGetOrdersRequest {
	r.onChainOrderId = &onChainOrderId
	return r
}

// \&quot;Exclusive for\&quot; address referencing a specific solver
func (r ApiOrdersControllerGetOrdersRequest) ExclusiveFor(exclusiveFor string) ApiOrdersControllerGetOrdersRequest {
	r.exclusiveFor = &exclusiveFor
	return r
}

// Filter by origin (source) chain ID
func (r ApiOrdersControllerGetOrdersRequest) OriginChainId(originChainId string) ApiOrdersControllerGetOrdersRequest {
	r.originChainId = &originChainId
	return r
}

// Filter by destination chain ID
func (r ApiOrdersControllerGetOrdersRequest) DestinationChainId(destinationChainId string) ApiOrdersControllerGetOrdersRequest {
	r.destinationChainId = &destinationChainId
	return r
}

func (r ApiOrdersControllerGetOrdersRequest) Execute() (*GetOrdersResponseDto, *http.Response, error) {
	return r.ApiService.OrdersControllerGetOrdersExecute(r)
}

/*
OrdersControllerGetOrders Get orders

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrdersControllerGetOrdersRequest
*/
func (a *BridgeAPIAPIService) OrdersControllerGetOrders(ctx context.Context) ApiOrdersControllerGetOrdersRequest {
	return ApiOrdersControllerGetOrdersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetOrdersResponseDto
func (a *BridgeAPIAPIService) OrdersControllerGetOrdersExecute(r ApiOrdersControllerGetOrdersRequest) (*GetOrdersResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetOrdersResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIAPIService.OrdersControllerGetOrders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.nonce != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nonce", r.nonce, "form", "")
	}
	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	}
	if r.settlementContractAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "settlementContractAddress", r.settlementContractAddress, "form", "")
	}
	if r.catalystOrderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "catalystOrderId", r.catalystOrderId, "form", "")
	}
	if r.onChainOrderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onChainOrderId", r.onChainOrderId, "form", "")
	}
	if r.exclusiveFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclusiveFor", r.exclusiveFor, "form", "")
	}
	if r.originChainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "originChainId", r.originChainId, "form", "")
	}
	if r.destinationChainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destinationChainId", r.destinationChainId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrdersControllerSubmitOrderRequest struct {
	ctx            context.Context
	ApiService     *BridgeAPIAPIService
	submitOrderDto *SubmitOrderDto
}

func (r ApiOrdersControllerSubmitOrderRequest) SubmitOrderDto(submitOrderDto SubmitOrderDto) ApiOrdersControllerSubmitOrderRequest {
	r.submitOrderDto = &submitOrderDto
	return r
}

func (r ApiOrdersControllerSubmitOrderRequest) Execute() (*SubmitOrderResponseDto, *http.Response, error) {
	return r.ApiService.OrdersControllerSubmitOrderExecute(r)
}

/*
OrdersControllerSubmitOrder Submit order

Submit an order (intent) to the bridge

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrdersControllerSubmitOrderRequest
*/
func (a *BridgeAPIAPIService) OrdersControllerSubmitOrder(ctx context.Context) ApiOrdersControllerSubmitOrderRequest {
	return ApiOrdersControllerSubmitOrderRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SubmitOrderResponseDto
func (a *BridgeAPIAPIService) OrdersControllerSubmitOrderExecute(r ApiOrdersControllerSubmitOrderRequest) (*SubmitOrderResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SubmitOrderResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIAPIService.OrdersControllerSubmitOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orders/submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submitOrderDto == nil {
		return localVarReturnValue, nil, reportError("submitOrderDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.submitOrderDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQuotesControllerRequestQuoteRequest struct {
	ctx                context.Context
	ApiService         *BridgeAPIAPIService
	oifQuoteRequestDto *OifQuoteRequestDto
	xIntegratorKey     *string
}

func (r ApiQuotesControllerRequestQuoteRequest) OifQuoteRequestDto(oifQuoteRequestDto OifQuoteRequestDto) ApiQuotesControllerRequestQuoteRequest {
	r.oifQuoteRequestDto = &oifQuoteRequestDto
	return r
}

// Raw integrator API key (obtained from integrator onboarding). When provided, integrator-specific quotes become eligible in addition to open-market quotes.
func (r ApiQuotesControllerRequestQuoteRequest) XIntegratorKey(xIntegratorKey string) ApiQuotesControllerRequestQuoteRequest {
	r.xIntegratorKey = &xIntegratorKey
	return r
}

func (r ApiQuotesControllerRequestQuoteRequest) Execute() (*GetOifQuotesResponseDto, *http.Response, error) {
	return r.ApiService.QuotesControllerRequestQuoteExecute(r)
}

/*
QuotesControllerRequestQuote Request quote

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiQuotesControllerRequestQuoteRequest
*/
func (a *BridgeAPIAPIService) QuotesControllerRequestQuote(ctx context.Context) ApiQuotesControllerRequestQuoteRequest {
	return ApiQuotesControllerRequestQuoteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetOifQuotesResponseDto
func (a *BridgeAPIAPIService) QuotesControllerRequestQuoteExecute(r ApiQuotesControllerRequestQuoteRequest) (*GetOifQuotesResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetOifQuotesResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIAPIService.QuotesControllerRequestQuote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quote/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oifQuoteRequestDto == nil {
		return localVarReturnValue, nil, reportError("oifQuoteRequestDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xIntegratorKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Integrator-Key", r.xIntegratorKey, "simple", "")
	}
	// body params
	localVarPostBody = r.oifQuoteRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoutesV0ControllerGetSupportedRoutesRequest struct {
	ctx        context.Context
	ApiService *BridgeAPIAPIService
	fromChain  *string
	toChain    *string
}

// Source chain network ID to filter routes from (e.g. \&quot;11155111\&quot;)
func (r ApiRoutesV0ControllerGetSupportedRoutesRequest) FromChain(fromChain string) ApiRoutesV0ControllerGetSupportedRoutesRequest {
	r.fromChain = &fromChain
	return r
}

// Destination chain network ID to filter routes to (e.g. \&quot;84532\&quot;)
func (r ApiRoutesV0ControllerGetSupportedRoutesRequest) ToChain(toChain string) ApiRoutesV0ControllerGetSupportedRoutesRequest {
	r.toChain = &toChain
	return r
}

func (r ApiRoutesV0ControllerGetSupportedRoutesRequest) Execute() (*GetSupportedRoutesResponseDto, *http.Response, error) {
	return r.ApiService.RoutesV0ControllerGetSupportedRoutesExecute(r)
}

/*
RoutesV0ControllerGetSupportedRoutes Get supported routes

Get supported routes by source and destination chain IDs. If none of the parameters are provided, all supported routes will be returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRoutesV0ControllerGetSupportedRoutesRequest
*/
func (a *BridgeAPIAPIService) RoutesV0ControllerGetSupportedRoutes(ctx context.Context) ApiRoutesV0ControllerGetSupportedRoutesRequest {
	return ApiRoutesV0ControllerGetSupportedRoutesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetSupportedRoutesResponseDto
func (a *BridgeAPIAPIService) RoutesV0ControllerGetSupportedRoutesExecute(r ApiRoutesV0ControllerGetSupportedRoutesRequest) (*GetSupportedRoutesResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetSupportedRoutesResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIAPIService.RoutesV0ControllerGetSupportedRoutes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/routes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fromChain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromChain", r.fromChain, "form", "")
	}
	if r.toChain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toChain", r.toChain, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
