/*
Lifi Intents API Reference

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.0.19
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package lifiorder

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// BridgeAPIV1APIService BridgeAPIV1API service
type BridgeAPIV1APIService service

type ApiQuotesControllerV1GetQuoteRequest struct {
	ctx             context.Context
	ApiService      *BridgeAPIV1APIService
	quoteRequestDto *QuoteRequestDto
	xIntegratorKey  *string
}

func (r ApiQuotesControllerV1GetQuoteRequest) QuoteRequestDto(quoteRequestDto QuoteRequestDto) ApiQuotesControllerV1GetQuoteRequest {
	r.quoteRequestDto = &quoteRequestDto
	return r
}

// Raw integrator key. Use a high-entropy random string. When provided, integrator-specific quotes become eligible in addition to open-market quotes.
func (r ApiQuotesControllerV1GetQuoteRequest) XIntegratorKey(xIntegratorKey string) ApiQuotesControllerV1GetQuoteRequest {
	r.xIntegratorKey = &xIntegratorKey
	return r
}

func (r ApiQuotesControllerV1GetQuoteRequest) Execute() (*QuoteResponseDto, *http.Response, error) {
	return r.ApiService.QuotesControllerV1GetQuoteExecute(r)
}

/*
QuotesControllerV1GetQuote Request quote

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiQuotesControllerV1GetQuoteRequest
*/
func (a *BridgeAPIV1APIService) QuotesControllerV1GetQuote(ctx context.Context) ApiQuotesControllerV1GetQuoteRequest {
	return ApiQuotesControllerV1GetQuoteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QuoteResponseDto
func (a *BridgeAPIV1APIService) QuotesControllerV1GetQuoteExecute(r ApiQuotesControllerV1GetQuoteRequest) (*QuoteResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *QuoteResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIV1APIService.QuotesControllerV1GetQuote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/integrator/quote/request"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.quoteRequestDto == nil {
		return localVarReturnValue, nil, reportError("quoteRequestDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xIntegratorKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Integrator-Key", r.xIntegratorKey, "simple", "")
	}
	// body params
	localVarPostBody = r.quoteRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoutesV1ControllerGetSupportedRoutesRequest struct {
	ctx        context.Context
	ApiService *BridgeAPIV1APIService
	fromChain  *string
	toChain    *string
}

// Source chain network ID to filter routes from (CAIP-2 format, e.g. \&quot;eip155:1\&quot;)
func (r ApiRoutesV1ControllerGetSupportedRoutesRequest) FromChain(fromChain string) ApiRoutesV1ControllerGetSupportedRoutesRequest {
	r.fromChain = &fromChain
	return r
}

// Destination chain network ID to filter routes to (CAIP-2 format, e.g. \&quot;eip155:8453\&quot;)
func (r ApiRoutesV1ControllerGetSupportedRoutesRequest) ToChain(toChain string) ApiRoutesV1ControllerGetSupportedRoutesRequest {
	r.toChain = &toChain
	return r
}

func (r ApiRoutesV1ControllerGetSupportedRoutesRequest) Execute() (*GetSupportedRoutesResponseV1Dto, *http.Response, error) {
	return r.ApiService.RoutesV1ControllerGetSupportedRoutesExecute(r)
}

/*
RoutesV1ControllerGetSupportedRoutes Get supported routes

Discover which routes are currently working on the intent server. Returns all active routes, optionally filtered by source and destination chain (CAIP-2 format).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRoutesV1ControllerGetSupportedRoutesRequest
*/
func (a *BridgeAPIV1APIService) RoutesV1ControllerGetSupportedRoutes(ctx context.Context) ApiRoutesV1ControllerGetSupportedRoutesRequest {
	return ApiRoutesV1ControllerGetSupportedRoutesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetSupportedRoutesResponseV1Dto
func (a *BridgeAPIV1APIService) RoutesV1ControllerGetSupportedRoutesExecute(r ApiRoutesV1ControllerGetSupportedRoutesRequest) (*GetSupportedRoutesResponseV1Dto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetSupportedRoutesResponseV1Dto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BridgeAPIV1APIService.RoutesV1ControllerGetSupportedRoutes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/integrator/routes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fromChain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromChain", r.fromChain, "form", "")
	}
	if r.toChain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toChain", r.toChain, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HttpErrorDto
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
