/*
BF API Reference

BP subdomain API documentation for bf.dev.gcp.3f.xyz

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package threef

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OfferAPIService OfferAPI service
type OfferAPIService service

type ApiOfferControllerCancelV1Request struct {
	ctx            context.Context
	ApiService     *OfferAPIService
	cancelOfferDto *CancelOfferDto
	xApiKey        *string
}

func (r ApiOfferControllerCancelV1Request) CancelOfferDto(cancelOfferDto CancelOfferDto) ApiOfferControllerCancelV1Request {
	r.cancelOfferDto = &cancelOfferDto
	return r
}

// Facilitator API key (required when &#x60;signature&#x60; is not provided).
func (r ApiOfferControllerCancelV1Request) XApiKey(xApiKey string) ApiOfferControllerCancelV1Request {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiOfferControllerCancelV1Request) Execute() (*CancelOfferResponseDto, *http.Response, error) {
	return r.ApiService.OfferControllerCancelV1Execute(r)
}

/*
OfferControllerCancelV1 Cancel an offer

Cancels an offer that has not been accepted. If `signature` is provided, it is verified as an EIP-712 signature. Contract wallets are supported via EIP-1271. If `signature` is omitted, a valid facilitator `x-api-key` header is required and `maker` must be that facilitator broker address; API-key cancellation can also match offers stored under the facilitator configured offer address.

Exact typed data to sign with `viem`:

```ts
const signature = await walletClient.signTypedData(

	{
	    domain: {
	      name: 'grunt-api',
	      version: '1',
	      chainId: 1,
	    },
	    types: {
	      CancelOffer: [
	        {
	          name: 'maker',
	          type: 'address',
	        },
	        {
	          name: 'offerId',
	          type: 'uint256',
	        },
	        {
	          name: 'deadline',
	          type: 'uint256',
	        },
	      ],
	    },
	    primaryType: 'CancelOffer',
	    message: {
	      maker: '0x742d35Cc6634C0532925a3b844Bc9e7595f2bD38',
	      offerId: 123n,
	      deadline: 4102444800n,
	    },
	  }

)
```

Submit the resulting signature in the request body `signature` field and encode `offerId` and `deadline` as decimal strings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOfferControllerCancelV1Request
*/
func (a *OfferAPIService) OfferControllerCancelV1(ctx context.Context) ApiOfferControllerCancelV1Request {
	return ApiOfferControllerCancelV1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CancelOfferResponseDto
func (a *OfferAPIService) OfferControllerCancelV1Execute(r ApiOfferControllerCancelV1Request) (*CancelOfferResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CancelOfferResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferAPIService.OfferControllerCancelV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/offer/cancel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cancelOfferDto == nil {
		return localVarReturnValue, nil, reportError("cancelOfferDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	// body params
	localVarPostBody = r.cancelOfferDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOfferControllerCreateV1Request struct {
	ctx            context.Context
	ApiService     *OfferAPIService
	createOfferDto *CreateOfferDto
	xApiKey        *string
}

func (r ApiOfferControllerCreateV1Request) CreateOfferDto(createOfferDto CreateOfferDto) ApiOfferControllerCreateV1Request {
	r.createOfferDto = &createOfferDto
	return r
}

// Facilitator API key (required when &#x60;signature&#x60; is not provided).
func (r ApiOfferControllerCreateV1Request) XApiKey(xApiKey string) ApiOfferControllerCreateV1Request {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiOfferControllerCreateV1Request) Execute() (*CreateOfferResponseDto, *http.Response, error) {
	return r.ApiService.OfferControllerCreateV1Execute(r)
}

/*
OfferControllerCreateV1 Create or update an offer

Creates an offer for an auction, or updates the existing mutable offer for the same `auctionId`, `maker`, and `nonce`. If `signature` is provided, the `maker` must be a registered facilitator address or that facilitator's configured offer address; signature executability is checked by the relayer before on-chain `consume`, so ERC-1271 approvals may become valid asynchronously. If `signature` is omitted, a valid facilitator `x-api-key` header is required; when that facilitator has a configured offer address, that offer address is used as the stored `maker`.

`expectedReturn` is the expected yield, not the total repayment. Total repayment is `amount + expectedReturn`.

`expiration` is a Unix timestamp in seconds. Offers are expired only when `expiration` is lower than the current Unix second.

Signed offer requests resolve their EIP-712 domain from the auction request contract on-chain. Set `domain.verifyingContract` to the request contract address for the selected auction. If the contract exposes a `salt`, include it; otherwise omit that field.

Exact typed data to sign with `viem`:

```ts
const signature = await walletClient.signTypedData(

	{
	    domain: {
	      name: 'SuperstateRequest',
	      version: '1',
	      chainId: 11155111,
	      verifyingContract: '0x1234567890abcdef1234567890abcdef12345678',
	      salt: '0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
	    },
	    types: {
	      Offer: [
	        {
	          name: 'maker',
	          type: 'address',
	        },
	        {
	          name: 'amount',
	          type: 'uint256',
	        },
	        {
	          name: 'expectedReturn',
	          type: 'uint256',
	        },
	        {
	          name: 'nonce',
	          type: 'uint256',
	        },
	        {
	          name: 'expiration',
	          type: 'uint256',
	        },
	        {
	          name: 'useCallback',
	          type: 'bool',
	        },
	      ],
	    },
	    primaryType: 'Offer',
	    message: {
	      maker: '0x742d35Cc6634C0532925a3b844Bc9e7595f2bD38',
	      amount: 1000000000n,
	      expectedReturn: 5000000n,
	      nonce: 1n,
	      expiration: 4102444800n,
	      useCallback: false,
	    },
	  }

)
```

Submit the signature bytes in the request body `signature` field. For deferred ERC-1271 approval, submit `0x` while the contract approval transaction is pending. All `uint256` request fields stay decimal strings in the HTTP payload.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOfferControllerCreateV1Request
*/
func (a *OfferAPIService) OfferControllerCreateV1(ctx context.Context) ApiOfferControllerCreateV1Request {
	return ApiOfferControllerCreateV1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateOfferResponseDto
func (a *OfferAPIService) OfferControllerCreateV1Execute(r ApiOfferControllerCreateV1Request) (*CreateOfferResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateOfferResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferAPIService.OfferControllerCreateV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/offer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOfferDto == nil {
		return localVarReturnValue, nil, reportError("createOfferDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	// body params
	localVarPostBody = r.createOfferDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOfferControllerGetByIdV1Request struct {
	ctx           context.Context
	ApiService    *OfferAPIService
	id            int64
	maker         *string
	chainId       *int64
	deadline      *string
	authorization *string
	xApiKey       *string
}

// Ethereum address of the maker to list offers for
func (r ApiOfferControllerGetByIdV1Request) Maker(maker string) ApiOfferControllerGetByIdV1Request {
	r.maker = &maker
	return r
}

// Chain ID for signature verification
func (r ApiOfferControllerGetByIdV1Request) ChainId(chainId int64) ApiOfferControllerGetByIdV1Request {
	r.chainId = &chainId
	return r
}

// Signature deadline timestamp (uint256). Required when using &#x60;authorization: Bearer &lt;signature&gt;&#x60;.
func (r ApiOfferControllerGetByIdV1Request) Deadline(deadline string) ApiOfferControllerGetByIdV1Request {
	r.deadline = &deadline
	return r
}

// Optional &#x60;Bearer &lt;signature&gt;&#x60; for EIP-712 authenticated requests.
func (r ApiOfferControllerGetByIdV1Request) Authorization(authorization string) ApiOfferControllerGetByIdV1Request {
	r.authorization = &authorization
	return r
}

// Facilitator API key (required when &#x60;Authorization: Bearer &lt;signature&gt;&#x60; is not provided).
func (r ApiOfferControllerGetByIdV1Request) XApiKey(xApiKey string) ApiOfferControllerGetByIdV1Request {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiOfferControllerGetByIdV1Request) Execute() (*OfferDto, *http.Response, error) {
	return r.ApiService.OfferControllerGetByIdV1Execute(r)
}

/*
OfferControllerGetByIdV1 Get offer by ID

Returns a single offer by ID for the authenticated maker. Uses the same API-key or EIP-712 authentication as the offer list endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Offer ID
	@return ApiOfferControllerGetByIdV1Request
*/
func (a *OfferAPIService) OfferControllerGetByIdV1(ctx context.Context, id int64) ApiOfferControllerGetByIdV1Request {
	return ApiOfferControllerGetByIdV1Request{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return OfferDto
func (a *OfferAPIService) OfferControllerGetByIdV1Execute(r ApiOfferControllerGetByIdV1Request) (*OfferDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OfferDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferAPIService.OfferControllerGetByIdV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/offer/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 1 {
		return localVarReturnValue, nil, reportError("id must be greater than 1")
	}
	if r.maker == nil {
		return localVarReturnValue, nil, reportError("maker is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "maker", r.maker, "form", "")
	if r.chainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chainId", r.chainId, "form", "")
	}
	if r.deadline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deadline", r.deadline, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOfferControllerGetV1Request struct {
	ctx           context.Context
	ApiService    *OfferAPIService
	maker         *string
	chainId       *int64
	deadline      *string
	authorization *string
	xApiKey       *string
}

// Ethereum address of the maker to list offers for
func (r ApiOfferControllerGetV1Request) Maker(maker string) ApiOfferControllerGetV1Request {
	r.maker = &maker
	return r
}

// Chain ID for signature verification
func (r ApiOfferControllerGetV1Request) ChainId(chainId int64) ApiOfferControllerGetV1Request {
	r.chainId = &chainId
	return r
}

// Signature deadline timestamp (uint256). Required when using &#x60;authorization: Bearer &lt;signature&gt;&#x60;.
func (r ApiOfferControllerGetV1Request) Deadline(deadline string) ApiOfferControllerGetV1Request {
	r.deadline = &deadline
	return r
}

// Optional &#x60;Bearer &lt;signature&gt;&#x60; for EIP-712 authenticated requests.
func (r ApiOfferControllerGetV1Request) Authorization(authorization string) ApiOfferControllerGetV1Request {
	r.authorization = &authorization
	return r
}

// Facilitator API key (required when &#x60;Authorization: Bearer &lt;signature&gt;&#x60; is not provided).
func (r ApiOfferControllerGetV1Request) XApiKey(xApiKey string) ApiOfferControllerGetV1Request {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiOfferControllerGetV1Request) Execute() ([]OfferDto, *http.Response, error) {
	return r.ApiService.OfferControllerGetV1Execute(r)
}

/*
OfferControllerGetV1 List offers for a maker

Lists offers created by `maker`. If `Authorization: Bearer <signature>` is provided, it is verified as an EIP-712 signature over the query (including a `deadline`). Contract wallets are supported via EIP-1271. If no signature is provided, a valid facilitator `x-api-key` header is required and `maker` must be that facilitator broker address; API-key list responses also include offers stored under the facilitator configured offer address.

Exact typed data to sign with `viem`:

```ts
const signature = await walletClient.signTypedData(

	{
	    domain: {
	      name: 'grunt-api',
	      version: '1',
	      chainId: 1,
	    },
	    types: {
	      GetOffers: [
	        {
	          name: 'maker',
	          type: 'address',
	        },
	        {
	          name: 'deadline',
	          type: 'uint256',
	        },
	      ],
	    },
	    primaryType: 'GetOffers',
	    message: {
	      maker: '0x742d35Cc6634C0532925a3b844Bc9e7595f2bD38',
	      deadline: 4102444800n,
	    },
	  }

)
```

Send the resulting signature as `Authorization: Bearer <signature>`. Keep `maker`, `chainId`, and `deadline` in the query string.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOfferControllerGetV1Request
*/
func (a *OfferAPIService) OfferControllerGetV1(ctx context.Context) ApiOfferControllerGetV1Request {
	return ApiOfferControllerGetV1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []OfferDto
func (a *OfferAPIService) OfferControllerGetV1Execute(r ApiOfferControllerGetV1Request) ([]OfferDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OfferDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferAPIService.OfferControllerGetV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/offer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.maker == nil {
		return localVarReturnValue, nil, reportError("maker is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "maker", r.maker, "form", "")
	if r.chainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chainId", r.chainId, "form", "")
	}
	if r.deadline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deadline", r.deadline, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
