/*
BF API Reference

BP subdomain API documentation for bf.dev.gcp.3f.xyz

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package threef

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AuctionAPIService AuctionAPI service
type AuctionAPIService service

type ApiAuctionControllerGetByIdV1Request struct {
	ctx        context.Context
	ApiService *AuctionAPIService
	id         float32
	domain     *bool
}

// When true, include request-contract EIP-712 domain metadata in the auction response.
func (r ApiAuctionControllerGetByIdV1Request) Domain(domain bool) ApiAuctionControllerGetByIdV1Request {
	r.domain = &domain
	return r
}

func (r ApiAuctionControllerGetByIdV1Request) Execute() (*AuctionDto, *http.Response, error) {
	return r.ApiService.AuctionControllerGetByIdV1Execute(r)
}

/*
AuctionControllerGetByIdV1 Get auction by ID

Returns a single auction by ID, including terminal auctions. Request-contract EIP-712 domain metadata is included only when `domain=true` is provided.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Auction ID
	@return ApiAuctionControllerGetByIdV1Request
*/
func (a *AuctionAPIService) AuctionControllerGetByIdV1(ctx context.Context, id float32) ApiAuctionControllerGetByIdV1Request {
	return ApiAuctionControllerGetByIdV1Request{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AuctionDto
func (a *AuctionAPIService) AuctionControllerGetByIdV1Execute(r ApiAuctionControllerGetByIdV1Request) (*AuctionDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AuctionDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuctionAPIService.AuctionControllerGetByIdV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auction/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 1 {
		return localVarReturnValue, nil, reportError("id must be greater than 1")
	}

	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", defaultValue, "form", "")
		r.domain = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuctionControllerListV1Request struct {
	ctx        context.Context
	ApiService *AuctionAPIService
	scope      *string
	domain     *bool
}

// Whether to list all auctions or only active ones
func (r ApiAuctionControllerListV1Request) Scope(scope string) ApiAuctionControllerListV1Request {
	r.scope = &scope
	return r
}

// When true, include request-contract EIP-712 domain metadata in each auction response.
func (r ApiAuctionControllerListV1Request) Domain(domain bool) ApiAuctionControllerListV1Request {
	r.domain = &domain
	return r
}

func (r ApiAuctionControllerListV1Request) Execute() ([]AuctionDto, *http.Response, error) {
	return r.ApiService.AuctionControllerListV1Execute(r)
}

/*
AuctionControllerListV1 List auctions

Lists auctions, optionally including terminal auctions based on the `scope` query param. Request-contract EIP-712 domain metadata is included only when `domain=true` is provided.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAuctionControllerListV1Request
*/
func (a *AuctionAPIService) AuctionControllerListV1(ctx context.Context) ApiAuctionControllerListV1Request {
	return ApiAuctionControllerListV1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AuctionDto
func (a *AuctionAPIService) AuctionControllerListV1Execute(r ApiAuctionControllerListV1Request) ([]AuctionDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AuctionDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuctionAPIService.AuctionControllerListV1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/auction"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	} else {
		var defaultValue string = "active"
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", defaultValue, "form", "")
		r.scope = &defaultValue
	}
	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", defaultValue, "form", "")
		r.domain = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
